@font-face {
  font-family: 'Kakao';
  src: url('./fonts/KakaoRegular.ttf') format('truetype');
  src: local('Kakao-Regular'), local('Kakao-Regular');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: 'Pretendard'
}

body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;

  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  a {
    text-decoration: none;
    color: black;
  }
}
